
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
  }
  
  html,
  body,
  #root {
    height: 100vh;
    width: 100vw;
  }
  
  body {
    background-color: #000;
  }
  
  h1 {
    color: #cbd6e0;
    text-transform: uppercase;
    padding-top: 30px;
    font-family: "Press Start 2P", cursive;
  }
  
  #root{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  
  .buttons {
    display: none;
  }
  
  @media only screen and (max-width: 1023px) {
    canvas {
      height: 350px;
      width: 350px;
      margin-top: 5px;
    }
  
    h1{
      display: none;
    }
    .buttons{
      display: block;
      margin-top: 20px;
      width: 100vw;
      padding-top: 40px;
    }
  
    button{
      width: 80px;
      height: 50px;
      border-radius: 5px;
      border: none;
      color: #ecf0f1;
      background-color: #16a085;
      
    }
  
    .div-side {
      margin: 2px auto;
      width: 250px;
      display: flex;
      justify-content: space-between;
    }
    #restart {
      display: none;
    }
  }